@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@charset "UTF-8";

body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("../wall.jpg");
  background-color: red;
  /* Full height */
  height: 100vh;
  top:0px;
  position: absolute;
  width: 100%;
  padding-top: 30vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
}
